@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(var(--foreground-rgb));
}
.nav-list li {
  background-color: hsla(43, 74%, 45%, 0.534);
  padding: 0.3rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
}
.nav-list li:hover {
  background-color: hsla(43, 74%, 55%, 0.87);
}
